body {
  background-color: rgb(18, 17, 17);
  color: rgb(171, 170, 170);
  font-family: Inter;
}

.sidebar {
  background-color: rgba(38, 38, 38, 0.516);
  height: 95vh;
  margin: 0;
  padding-top: 50px;
}

.btn-primary {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.btn-primary:hover {
  background: #b1b122;
  color: white;
}

h2 {
  color: rgb(177, 176, 176);
  font-size: 28px;
}
