.navbar {
  background: linear-gradient(90deg, #7f00ff, #e100ff 100%);
  color: #fff;
  /* align-items: center; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 20%;
}
